body {
    
    font-family:Arial,Helvetica,sans-serif;
    font-size: 14px;
}

#profile, #map {
    font-size: 11px;
}

#info {
    font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
    width: 158px;
    float: left;
    margin: 4px 0px 0px 0px;
}

#buttons {
    margin: 10px auto 0px 50px;
    height: 20px;
}
#buttons  img {
    float: left;
    margin: 0px;
}

.twocolumn {
    float:left;
    width:50%;
}

form {
    width: 580px;
    overflow: hidden;
    margin-bottom: 16px;
}

#report, .report {
    width: 578px;
    overflow: hidden;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 16px 0 24px 0;
    background-color: #FAF0E6;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#report dl, .report dl {
    margin: 0;
}

#report dt, .report dt {
    background:#FFD0B6;
    color:#999;
    float:left;
    clear: left;
    text-align: right;
    font-weight: bold;
    margin:0px 10px 1px 0;
    padding:1px 10px;
    width:150px;
}

#report dt:after, .report dt:after {
    content: ':';
}

#report dd, .report dd {
    margin: 1px 0 1px 171px;
    padding:1px;
}

#planner, .planner {
    width: 580px;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12px;
    border-width: 1px 1px 1px 1px;
    border-spacing: 0px;
    border-style: outset outset outset outset;
    border-color: black black black black;
    border-collapse: collapse;
    background-color: #FAF0E6;
}

#planner td, #planner th, .planner td, .planner th {
    border-width: 1px;
    padding: 0px 8px 0px 8px;
    border-style: inset;
    border-color: black;
}

#planner td, #planner th, .planner td, .planner th {
}

.evenrow td {
    background-color: #FAE8D0;
}

.oddrow td {
    background-color: #FAF0E6;
}

#planner td, .planner td {
    text-align: center;
}

#planner th, .planner th {
    text-align: center;
    background-color: #FFD0B6;
}